apiVersion: apps/v1
kind: Deployment
metadata:
  name: oficina-mecanica-postgres
  namespace: oficina-mecanica
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
      - name: postgres
        image: postgres:15-alpine
        env:
        - name: POSTGRES_DB
          value: oficina_mecanica
        - name: POSTGRES_USER
          value: oficina
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: oficina-mecanica-secret
              key: POSTGRES_PASSWORD
        - name: PGDATA
          value: /var/lib/postgresql/data/pgdata
        ports:
        - containerPort: 5432
        volumeMounts:
        - name: postgres-storage
          mountPath: /var/lib/postgresql/data
        - name: init-db
          mountPath: /docker-entrypoint-initdb.d
      volumes:
      - name: postgres-storage
        persistentVolumeClaim:
          claimName: postgres-pvc
      - name: init-db
        configMap:
          name: init-db-sql
