apiVersion: v1
kind: Service
metadata:
  name: oficina-mecanica-postgres-service
  namespace: oficina-mecanica
spec:
  selector:
    app: postgres
  ports:
  - port: 5432
    targetPort: 5432
  type: ClusterIP
